<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>CRUDController</servlet-name>
    <servlet-class>vista.CRUDController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CRUDInventario</servlet-name>
    <servlet-class>vista.CRUDInventario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PEDIDOController</servlet-name>
    <servlet-class>vista.PEDIDOController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CRUDProveedor</servlet-name>
    <servlet-class>vista.CRUDProveedor</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>vista.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PedidosporEmpleado</servlet-name>
    <servlet-class>vista.PedidosporEmpleado</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PedidosporTemporada</servlet-name>
    <servlet-class>vista.PedidosporTemporada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRUDController</servlet-name>
    <url-pattern>/CRUDController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PedidosporEmpleado</servlet-name>
    <url-pattern>/PedidosporEmpleado</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PedidosporTemporada</servlet-name>
    <url-pattern>/PedidosporTemporada</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PEDIDOController</servlet-name>
    <url-pattern>/PEDIDOController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CRUDInventario</servlet-name>
    <url-pattern>/CRUDInventario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CRUDProveedor</servlet-name>
    <url-pattern>/CRUDProveedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>vista.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>